//Colocar aquí clases utilitarias para todo el sitio. Por ejemplo: márgenes, alineación de texto y color de texto.

.text-center{
	text-aling:center;
}

.c-gray{
	color:gray;
}

.c-white{
	color:white;
}
.c-cyan{
	color:#00aeef;
}

.c-black{
color: black;
}

.titulo{
	font-family: BebasNeue;
}

.cuerpo{
	font-family: Futura;
}

.fondo-black{
	background-color: black;
}

