
h1.c-violet.text-center.titulo {
    margin: 0;
}

h2.text-center.titulo {
    margin: 0;
}

.c-violet{
	color: #E9008C;
}

.c-white{
	color: white;
}

.c-black{
	color: black;
}
/*Frase final*/

.frase {
    width: 60%;
    margin: 0 auto;
    text-align: left;
    line-height: 65px;
    background-color: black;
}

.black{

  background-color: black;
  width: 100%;
  padding-top: 4%;
  padding-bottom: 4%;
}
p.final-text.titulo {
    font-size: 75px;
}

p.final-text.titulo.c-white { 
    display: inline;
}
@media screen and (max-width: 480px){
.frase-final {
    width: 100%;
    height: 80%;
    background-color: black;
  }
}

@media screen and (max-width: 480px){
p.final-text.titulo.c-white {
    display: inline;
    font-size: 32px;
    width: 100%;
    line-height: 44px;
}

}

/*Footer*/

footer.sentence-gray {
    background-color: rgba(60,60,60,60);;
    width: 100%;
}

.interior {
    width: 70%;
    margin: 0 auto;
    padding: 4%;
}

@media screen and (max-width: 480px){
.interior {
    width: 100%;
    padding-top: 14%;
    text-align: left;
    font-size: 18px;
  }
}

.frase-nosotros {
    width: 50%;
    background-color: #E9008C;
    text-align: left;
    padding-top: 4%;
    padding-bottom: 2%;
    margin: 0 auto;
    line-height: 64px;
}

.fondo-violeta {
    width: 100% !important;
    padding-top: 8%;
    padding-bottom: 4%;
    height: 100%;
    background-color: #E9008C ;
}

.violeta {
    width: 100%;
    background-color: #E9008C;
    padding-top: 4%;
    padding-bottom: 4%;
}

@media screen and (max-width: 480px){
.centro {
    text-align: center !important;
    width: 100%;
    margin: 0 auto !important;
    line-height: 64px !important;
    font-size: 63px !important;
    letter-spacing: 1px !important;
    position: relative;
    top: 30px;
    }
}