.fondo {
    width: 100% !important;
    padding-top: 8%;
    padding-bottom: 4%;
    height: 100%;
    background-color: #FAF72F;
}

aside.por{
	width: 100%;
	 background-color: #FAF72F;
}

.portafolio{
		width: 100%;
	 background-color: #FAF72F;	
}